@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Share+Tech+Mono&family=Stick+No+Bills:wght@200..800&display=swap');

:root {
    --font-color-and-bg: #000000;
    --font-color-and-bg2: #F3A712;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-color: #000000;
}


/* Default class applied to HTML elements to be displayed */
.screen {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/* Class applied onto elements displayed on-screen */
.active-screen {
    opacity: 1;
    z-index: 10;
    pointer-events: all;
}

/* ---------------------
SECTION: ENTRY PAGE
.intro: the container for the first page
.library-logo: container for page name and description
.library-name: large page name
.library-description: text sitting under library-name
.intro-button: interactive container for the svg 
--------------------- */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.library-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.library-name {
    line-height: .8;
    pointer-events: none;
    font-family: "Stick No Bills", sans-serif;
    font-size: clamp(80px, 15vmin, 150px);
    color: var(--font-color-and-bg2);
    text-decoration: underline;
}

.library-description {   
    color: var(--font-color-and-bg2);
    font-family: "Chakra Petch", sans-serif;
    font-size: clamp(20px, 3vmin, 70px);
}

.intro-button {
    width: clamp(60px, 12vmin, 150px);
    height: clamp(60px, 12vmin, 150px);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.01s linear;
}

.intro-button:active {
    transform: scale(.8);
}

.intro-button svg {
    fill: var(--font-color-and-bg2);
    width: 90%;
    height: 90%;
}

/* ---------------------
SECTION: Second page
.library-content: Main container
~ the rest is currently just visual pseudo elements
--------------------- */

/* Second container after intro is removed from DOM */
.library-content {
    color: var(--font-color-and-bg2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Relevant CSS for pseudo elements */
.library-content {
    position: relative;
    overflow: hidden;
    --corner-color:var(--font-color-and-bg2);
    --line-thickness: .7vmin;
    --line-length: 7.5vmin;
    --offset-value: 20px;
}

/* ---
PSEUDO CORNERS 
--- */

.library-content::before,
.library-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:
        var(--line-thickness) var(--line-length), 
        var(--line-length) var(--line-thickness), 
        var(--line-thickness) var(--line-length), 
        var(--line-length) var(--line-thickness); 
}

.library-content::before {
    background-image:
    /* Top Left - Vertical */
        linear-gradient(to bottom, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Top Left - Horizontal */
        linear-gradient(to right, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Left - Vertical */
        linear-gradient(to top, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Left - Horizontal */
        linear-gradient(to right, var(--corner-color) var(--line-length), transparent var(--line-length));
    
    

    background-position:
    /* Top Left - Vertical */
        top var(--offset-value) left var(--offset-value),
    /* Top Left - Horizontal */
        top var(--offset-value) left var(--offset-value),
    /* Bottom Left - Vertical */
        bottom var(--offset-value) left var(--offset-value),
    /* Bottom Left - Horizontal */
        bottom var(--offset-value) left var(--offset-value);
}

.library-content::after {
    background-image:
    /* Top Right - Vertical */
        linear-gradient(to bottom, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Top Right - Horizontal */
        linear-gradient(to left, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Right - Vertical */
        linear-gradient(to top, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Right - Horizontal */
        linear-gradient(to left, var(--corner-color) var(--line-length), transparent var(--line-length));

    background-position:
    /* Top Right - Vertical */
        top var(--offset-value)  right var(--offset-value), 
    /* Top Right - Horizontal */
        top var(--offset-value) right var(--offset-value), 
    /* Bottom Right - Vertical */
        bottom var(--offset-value) right var(--offset-value), 
    /* Bottom Right - Horizontal */
        bottom var(--offset-value) right var(--offset-value);
}

/* WIP: testing text alignment in library
    .text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    height: auto;
    font-family: "Chakra Petch", sans-serif;
} */

@media screen and (orientation: portrait) {
    .intro {
        flex-direction: column;
    }
}
