@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Share+Tech+Mono&family=Stick+No+Bills:wght@200..800&display=swap');


:root {
    --font-color-and-bg: #000000;
    --font-color-and-bg2: #F3A712;
}

/* * {
    box-sizing: border-box;
} */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #000000;
    opacity: 0;
    transition: opacity 2s ease-in; 
}

body.fade-in {
    opacity: 1;
}

.top-row {
    z-index: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.entry-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100vh;
    margin-right: -20px;
}

.entry-logo {
    line-height: .8;
    pointer-events: none;
    font-family: "Stick No Bills", sans-serif;
    font-size: clamp(80px, 15vmin, 150px);
    color: var(--font-color-and-bg2);
    text-decoration: underline;
}

.entry-description {   
    color: var(--font-color-and-bg2);
    font-family: "Chakra Petch", sans-serif;
    font-size: clamp(20px, 3vmin, 70px);
}


.open-library-button {
    width: clamp(60px, 12vmin, 150px);
    height: clamp(60px, 12vmin, 150px);
 
    border: none;
    background: transparent;

    z-index: 2;
    cursor: pointer;

    transition: transform 0.1s ease-out, border-radius 0.1s ease-out;
}

.open-library-button:active {
    transform: scale(.85);
    border-radius: 1vmin;
}

.open-library-button svg {
    fill: var(--font-color-and-bg2);
    width: 90%;
    height: 90%;
}


