@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Orbitron:wght@400..900&family=Share+Tech+Mono&family=Stick+No+Bills:wght@200..800&display=swap');

:root {
    --font-color-and-bg: #000000;
    --font-color-and-bg2: #F3A712;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #000000;
}

.intro,
.library-content {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

/* Default class applied to HTML elements to be displayed */
.screen {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

/* ---------------------
SECTION: ENTRY PAGE
.intro: the container for the first page
.library-logo: container for page name and description
.library-name: large page name
.library-description: text sitting under library-name
.intro-button: interactive container for the svg 
--------------------- */

.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.library-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.library-name {
    line-height: .8;
    pointer-events: none;
    font-family: "Stick No Bills", sans-serif;
    font-size: clamp(80px, 15vmin, 150px);
    color: var(--font-color-and-bg2);
    text-decoration: underline;
}

.library-description {   
    color: var(--font-color-and-bg2);
    font-family: "Chakra Petch", sans-serif;
    font-size: clamp(20px, 3vmin, 70px);
}

.intro-button {
    width: clamp(60px, 12vmin, 150px);
    height: clamp(60px, 12vmin, 150px);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.01s linear;
}

.intro-button:active {
    transform: scale(.8);
}

.intro-button svg {
    fill: var(--font-color-and-bg2);
    width: 90%;
    height: 90%;
}

/* ---------------------
SECTION: Second page
.library-content: Main container

--------------------- */

/* Second container after intro is removed from DOM */
.library-content {
    color: var(--font-color-and-bg2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Relevant CSS for pseudo elements */
.library-content {
    position: relative;
    --corner-color:var(--font-color-and-bg2);
    --line-thickness: .7vmin;
    --line-length: 7.5vmin;
    --offset-value: 20px;
}

.library-new-book-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: opacity 0.4s ease-in-out;
    opacity: 0;
}

.library-btn-text-wrapper {
    width: 50vmin;
    color: var(--font-color-and-bg2);
    font-family: "Chakra Petch", sans-serif;
    font-size: clamp(20px, 3vmin, 70px);
}

.library-btn-svg-wrapper {
    display: flex;
    width: clamp(60px, 12vmin, 150px);;
    height: clamp(60px, 12vmin, 150px);;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.plus-svg {
    fill: var(--font-color-and-bg2);
    width: 50%;
    height: 50%;
}

.quill-svg {
    fill: var(--font-color-and-bg2);
    width: 100%;
    height: 100%;
}

.library-browser {
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}

.library-new-options {
    opacity: 0;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;

}

.library-new-options-question {
    color: var(--font-color-and-bg2);
    font-family: "Chakra Petch", sans-serif;
    font-size: 5vmin;
    height: auto;
    width: auto;
}

.library-new-options-question-response {
    font-family: "Chakra Petch", sans-serif;
    font-size: 2vmin;
    width: auto;
    height: 25px;
    text-align: center;
    color: #FF8800;
    padding-bottom: 2vmin;
}

.library-new-options-btns-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 5vmin;
}

.library-new-options-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 10vmin;
    border: none;
    background: transparent;
    color: var(--font-color-and-bg2);
    font-family: "Chakra Petch", sans-serif;
    font-size: 3vmin;
    border-radius: 0px;
}

.library-new-options-btns:hover {
    background-color: #2f2000;
    color:#F3A712;
    border: solid  #F3A712;
    text-decoration: underline;
}

.library-new-options-btns:active {
    background-color:#F3A712;
    color: #000000;
}

.template-page, .new-page {
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease-in-out;
}

.book-collection-grid {
    pointer-events: all;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill , minmax(min(300px, 100%), 1fr));
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    gap: 1em;
    overflow-y: auto; 
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.book-collection-grid::-webkit-scrollbar {
  display: none;
}

.book-card {
    box-sizing: border-box;
    text-align: center;
    background: #181818c2;
    color: #F3A712;
    font-family: "Chakra Petch", sans-serif;
    display: flex;
    border: inset #483f2e;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    white-space: nowrap;

}

.book-container {
    padding: 20px;
}
.book-container-title {
    padding-bottom: 6px;
    font-size: 1.8em;
}

.book-container-text {
    padding: 5px;
    font-size: 1.2em;
    color: #FF8800;
}

.toggle-read-btn {
    margin-top: 5px;
    border-radius: 3px;
    border: none;
    color: #000000;
    background-color: #F3A712;
}

.toggle-read-btn:active {
    color: #F3A712;
    background-color: transparent;
}

.add-book-btn {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent; 
    border: none;
    color: #F3A712;
}

.add-book-btn svg {
    height: 70%;
    width: 70%;
    fill: #F3A712;
}

.book-form {
    background-color: transparent;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: "Chakra Petch", sans-serif;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.book-form input {
    color: #F3A712;
    background-color: transparent;
    border-bottom: solid #F3A712;
    border-top: none;
    border-right: none;
    border-left: none;
}

.book-form button {
    border: solid #F3A712;
    color: #F3A712;
    background-color: transparent;
    width: 50%;
}

.book-form label {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #000000;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--font-color-and-bg2);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input {
    text-align: center;
}
input:focus {
   outline: none;
}
input::placeholder {
    text-align: center;
}

/* ---
PSEUDO CORNERS 
--- */

.library-content::before,
.library-content::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    
    background-size:
        var(--line-thickness) var(--line-length), 
        var(--line-length) var(--line-thickness), 
        var(--line-thickness) var(--line-length), 
        var(--line-length) var(--line-thickness); 
}


.library-content::before {
    background-image:
    /* Top Left - Vertical */
        linear-gradient(to bottom, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Top Left - Horizontal */
        linear-gradient(to right, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Left - Vertical */
        linear-gradient(to top, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Left - Horizontal */
        linear-gradient(to right, var(--corner-color) var(--line-length), transparent var(--line-length));
    
    background-position:
    /* Top Left - Vertical */
        top var(--offset-value) left var(--offset-value),
    /* Top Left - Horizontal */
        top var(--offset-value) left var(--offset-value),
    /* Bottom Left - Vertical */
        bottom var(--offset-value) left var(--offset-value),
    /* Bottom Left - Horizontal */
        bottom var(--offset-value) left var(--offset-value);
}

.library-content::after {
    background-image:
    /* Top Right - Vertical */
        linear-gradient(to bottom, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Top Right - Horizontal */
        linear-gradient(to left, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Right - Vertical */
        linear-gradient(to top, var(--corner-color) var(--line-length), transparent var(--line-length)),
    /* Bottom Right - Horizontal */
        linear-gradient(to left, var(--corner-color) var(--line-length), transparent var(--line-length));

    background-position:
    /* Top Right - Vertical */
        top var(--offset-value)  right var(--offset-value), 
    /* Top Right - Horizontal */
        top var(--offset-value) right var(--offset-value), 
    /* Bottom Right - Vertical */
        bottom var(--offset-value) right var(--offset-value), 
    /* Bottom Right - Horizontal */
        bottom var(--offset-value) right var(--offset-value);
}

/* Class applied onto elements displayed on-screen */
.active-screen {
    opacity: 1;
    z-index: 10;
}

.active-ui-element {
    opacity: 1;
    z-index: 12 !important;
    pointer-events: all !important;
}

.intro-button {
    pointer-events: all !important;
}

@media screen and (orientation: portrait) {
    .intro {
        flex-direction: column;
    }
    
    .book-collection-grid {
        grid-template-columns: repeat(1 , minmax(300px, 70vw));
        grid-template-rows: repeat(auto-fill, minmax(200px, min-content));
    }

    .add-book-btn svg {
    height: 70%;
    width: 70%;
    fill: #F3A712;
}
}

